人気別の勝率と回収率

In [14]:
#%matplotlib inline
#from IPython.core.interactiveshell import InteractiveShell
#InteractiveShell.ast_node_interactivity = "all"
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from numpy.random import randn
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://uma:UmaUma123!@localhost/everydb2?charset=utf8')
%matplotlib

Using matplotlib backend: MacOSX

In [45]:
year_from= 2000
year_to= 2017

sql = 'SELECT PayTansyoPay1,PayTansyoNinki1 FROM N_Harai where %d <= Year and Year <= %d' % (year_from, year_to)
df = pd.read_sql_query(sql, engine)
df['Pay'] = df.PayTansyoPay1.astype(float)
df.drop('PayTansyoPay1',inplace=True,axis=1)
df.columns = ['WinFav','Pay']

人気別勝率の計算

In [54]:
total_race_count = df.count()[0]
win_count = df.groupby('WinFav').count()
win_count['WinRate'] = win_count.Pay / total_race_count * 100
win_count = win_count.drop('Pay',axis=1)
sub1 = fig.add_subplot(1,1,1)
ax = win_count.plot(kind='bar', title=('Win Rate (%s - %s)' % (year_from, year_to)))
ax.set_ylabel("%")
plt.savefig('tahso-win-rate-%s.png' % year)

人気別回収率の計算

In [62]:
race_counts = df.groupby('WinFav').count()
total_race_count = race_counts.Pay.sum()
race_counts['Ratio'] = race_counts.Pay / total_race_count * 100
total_race_count = df.count()[0]
win_return = df.groupby('WinFav').sum()
win_return['ROI'] = win_return.Pay /(total_race_count * 100) * 100
win_return = win_return.drop('Pay',axis=1)
ax = win_return.plot(kind='bar',title=('ROI (%s - %s)' % (year_from, year_to)))
ax.set_ylabel("%")
plt.savefig('tahso-win-return-%s.png' % year)

In [28]:
race_counts

        Pay      Ratio
WinFav
01      506  32.942708
02      293  19.075521
03      194  12.630208
04      157  10.221354
05      103   6.705729
06       75   4.882812
07       58   3.776042
08       49   3.190104
09       37   2.408854
10       20   1.302083
11       17   1.106771
12       14   0.911458
13        5   0.325521
14        2   0.130208
15        3   0.195312
16        3   0.195312

In [20]:
#Verify!
race_counts.Ratio.sum()

100.0

人別払い平均戻し額

In [57]:
grouped = df.Pay.groupby(df.WinFav)
ave_return = grouped.agg('mean')
ave_return

WinFav
01      234.259149
02      421.264368
03      613.587898
04      856.535080
05     1159.402837
06     1547.895928
07     2057.618834
08     2735.360444
09     3472.360765
10     4611.127273
11     5657.183735
12     7388.756219
13     8943.587786
14    11675.958904
15    14359.553571
16    18722.272727
17    14601.428571
18    23080.000000
Name: Pay, dtype: float64

In [66]:
ax = ave_return.plot(kind='bar',title=('Avg return (%s - %s)' % (year_from, year_to)))
ax.set_ylabel("Yen")